.player {
    position: absolute;
      display: block;
      border-radius: 100%;
      bottom: 2vh;
      left: 1vw;
      height: 80px;
      width: 80px;
      margin: 0;
      background: radial-gradient(circle at 100px 100px, green, #000);
    }
  
  
  .player-jump {
    animation: bounce 2s;
    position: absolute;
    display: block;
    background: black;
    border-radius: 100%;
    bottom: 2vh;
    left: 1vw;
    height: 80px;
    width: 80px;
    margin: 0;
    background: radial-gradient(circle at 100px 100px, green, #000);
  }