@import "/SCSS/Background/background.css";
@import "/SCSS/Enemy/enemy.css";
@import "/SCSS/Player/player.css";
 
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-weight: 200;
}
img{
    width: auto; 
    height: auto;
    width: 80vw; 
    height: 60vh; 
}
.game-container{
    z-index: 0;
    position: relative;
    margin: 2vh;
    margin: 2vw;
    border: 2px solid black;
    width: 80vw;
    height: 60vh;
    max-width: 80vw;
    max-height: 60vh;
    .start__menu__no__display{
    display: none;
    }
    .start-menu{
        z-index: 1;
        position: absolute;
        width: 40vw;
        height: 40vh;   
        background-color: #023859;
        border: 2px solid black;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); 
       
        h3{
            position: absolute;
            color: white;
            font-size: 1.5vw;
            top: 20px;
            margin-left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }  
        
        button{
            font-size: 2vw;
            border: 1px solid black;
            border-radius: 5px;
            background-color: #011526;
            color: white;
            font-weight: 100;
            transition: 0.1s;
             
        }
    }
    .difficulty{
        position: absolute;
        top: 10vh;
        margin-left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        .selected__difficulty{
            background-color: white;
            color: #011526;
        }
    button{
        width: calc(30vw / 3);
        height: 8vh;
        &:hover{
            background-color: white;
            color: #011526;
            cursor: pointer;
        }     
    } 
    }
    .start{
        position: absolute;
        top: 22vh;
        margin-left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); 
    button{
        width: 30vw;
        height: 12vh;
    }
    .start__button_blur{
        opacity: 0.2;
    }
    .start__button__hover:hover{
        background-color: white;
        color: #011526;
        cursor: pointer;
    }
    }    
}
    


@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-200px); }
    50%  { transform: scale(1.1,.9)     translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
@keyframes left-to-right{
    0% { transform: scale(1)   translateX(0);}
    100% { transform: scale(1.1)   translateX(-79vw);}
}