@import "/SCSS/Background/background.css";
@import "/SCSS/Enemy/enemy.css";
@import "/SCSS/Player/player.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-weight: 200;
}

img {
  width: auto;
  height: auto;
  width: 80vw;
  height: 60vh;
}

.outsidebody {
  z-index: 999;
}

.game-container {
  z-index: 0;
  position: relative;
  border: 2px solid black;
  width: 80vw;
  height: 60vh;
  max-width: 80vw;
  max-height: 60vh;
}
.game-container .start__menu__no__display {
  display: none;
}
.game-container .start-menu {
  z-index: 1;
  position: absolute;
  width: 40vw;
  height: 40vh;
  background-color: #023859;
  border: 2px solid black;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.game-container .start-menu .fa-question {
  cursor: pointer;
  position: absolute;
  top: 0.2vh;
  left: 0.2vw;
  font-size: 2vw;
}
.game-container .start-menu h3 {
  position: absolute;
  color: white;
  font-size: 1.5vw;
  top: 20px;
  margin-left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.game-container .start-menu button {
  font-size: 2vw;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #011526;
  color: white;
  font-weight: 100;
  transition: 0.1s;
}
.game-container .info__modal__show {
  z-index: 1;
  position: absolute;
  width: 40vw;
  height: 40vh;
  background-color: #055766;
  border: 2px solid black;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.game-container .info__modal__show i {
  cursor: pointer;
  position: absolute;
  top: 0.2vh;
  right: 0.2vw;
  font-size: 2vw;
}
.game-container .info__modal__show p {
  color: white;
  padding-top: 1vh;
  font-size: 2vw;
}
.game-container .info__modal__hide {
  display: none;
}
.game-container .difficulty {
  position: absolute;
  top: 10vh;
  margin-left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.game-container .difficulty .selected__difficulty {
  background-color: white;
  color: #011526;
}
.game-container .difficulty button {
  width: calc(30vw / 3);
  height: 8vh;
}
.game-container .difficulty button:hover {
  background-color: white;
  color: #011526;
  cursor: pointer;
}
.game-container .start {
  position: absolute;
  top: 22vh;
  margin-left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.game-container .start button {
  width: 30vw;
  height: 12vh;
}
.game-container .start .start__button_blur {
  opacity: 0.2;
}
.game-container .start .start__button__hover:hover {
  background-color: white;
  color: #011526;
  cursor: pointer;
}

@keyframes left-to-right {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(1) translateX(-79vw);
  }
}