.enemy img {
  position: absolute;
  z-index: 1;
  height: 10vh;
  width: 7vw;
  bottom: 2vh;
  right: 0;
}

.enemy-animation-easy img {
  animation: left-to-right linear 1.8s infinite;
  position: absolute;
  height: 10vh;
  width: 7vw;
  bottom: 2vh;
  bottom: 2vh;
  right: 0;
}

.enemy-animation-medium img {
  animation: left-to-right linear 1.4s infinite;
  position: absolute;
  height: 10vh;
  width: 7vw;
  bottom: 2vh;
  bottom: 2vh;
  right: 0;
}

.enemy-animation-hard img {
  animation: left-to-right linear 0.7s infinite;
  position: absolute;
  height: 10vh;
  width: 7vw;
  bottom: 2vh;
  bottom: 2vh;
  right: 0;
}